@import './typography.css';
@import './modals.css';

:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--slate-50);
}

.sidebar-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  background-color: white;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.settings-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.settings-container-padding {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  box-sizing: border-box;
}

.section-nav{
  display: flex;
  width: 100%;
  padding: 2px 0px;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.input-container-lg {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}
.buttons-row {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .form-container {
    width: 25%;
  }
}